* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.app {
  min-height: 100vh;
}

.hero {
  position: relative;
  min-height: 100vh;
  padding: 80px 20px;
  background: linear-gradient(135deg, #9c9c9c, #1e293b);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header {
  background-image: url('/images/group.jpg');
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
}

.hero-content {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1200px;
}

.hero-title {
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.hero-subtitle {
  text-align: center;
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 50px;
  font-weight: bold;
}

.songs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

.song-card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 20px;
  transition: 0.25s ease;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.song-card:hover {
  transform: translateY(-4px);
  background: rgba(255, 255, 255, 0.12);
}

.song-title {
  display: inline-block;
  font-size: 1.15rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

.song-title:hover {
  color: #38bdf8;
}

.song-author {
  color: yellow;
  font-style: italic;
  font-size: 0.95rem;
}


@media (max-width: 450px) {
  .hero-title {
    font-size: 4rem;
  }
}